#tweet-container {

  display: flex;
  justify-content: center;
  flex-direction: column;
}

article.tweet {
  height: fit-content;
  border: solid #545149;
  
  display: flex;
  justify-content: column;
  flex-direction: column;

}

article.tweet header {
  height: fit-content;
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  flex-direction: row;
}

article.tweet p {
  margin: 1.5em;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
article.tweet footer {
  margin: 2em;
  border-top: solid #545149;
  
  
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
article.tweet footer i {
  color:#4056A1;
}

article.tweet:hover {
  box-shadow: 1em 1em #545149;

}
article.tweet footer i:hover {
  color: rgb(186, 137, 12);
}